/* Estilo para o menu */
#menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px; /* Ajuste o tamanho conforme necessário */
    height: 100vh;
    background-image: url('https://raw.githubusercontent.com/deividpro999/IA-EMMA-CHAT-PARTES/7dc32de15fd984badd66be46217084d6f86282a0/TELA%20DO%20MENU%20INICIAL.png');
    background-size: cover;
    background-position: center;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu button {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

#menu button:hover {
    text-decoration: underline;
}
