body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
}
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  display: none; /* Oculta o título */
}

#chat-box {
  width: 90vw; /* Aumenta a largura para ocupar 90% da tela */
  max-width: 1000px; /* Limita para não ficar gigante demais em telas grandes */
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* de 0.05 para 0.1 */
  border-radius: 20px;
  overflow-y: auto;
  height: 70vh; /* altura pra manter um bom espaço vertical também */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* <<< A sombra voltou aqui */
}

.mensagem {
    background: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente para contraste */
    color: #ffffff; /* Texto branco para melhorar a visibilidade */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Sombrinha no texto */
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    max-width: 75%;
    line-height: 1.5; /* Aumenta a altura da linha para melhor leitura */
}

