#menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: url('https://raw.githubusercontent.com/deividpro999/IA-EMMA-CHAT-PARTES/main/MENU%20IA%20EMMA.png') no-repeat center center;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* Ajuste conforme necessário */
    height: 400px; /* Ajuste conforme necessário */
}
