/* Estilos para o aviso principal */
#aviso-principal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    font-size: 3em;
    opacity: 0;
    transition: opacity 2s ease-in-out, box-shadow 2s ease-in-out;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0);
}

#aviso-principal.active {
    opacity: 1;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.6);
}

/* Estilos para o aviso secundário */
#aviso-secundario-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://raw.githubusercontent.com/deividpro999/IA-EMMA-CHAT-PARTES/2f2a285e96f56d96cde02e57f1d03ddea8575400/AVISO%20LEIA%20ANTES%20DE%20COME%C3%87AR.png') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2em;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

/* Estilos para a tela de carregamento */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    font-size: 2em;
    display: none;
}

/* Estilos para o conteúdo principal */
#main-content {
    padding: 20px;
    background: #f4f4f4;
}
