body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

#aviso-principal, #aviso-secundario, #loading-screen {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#aviso-principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    z-index: 2;
}

#aviso-principal.aura {
    animation: aura 4s ease-in-out;
}

@keyframes aura {
    0%, 100% {
        box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0);
    }
    50% {
        box-shadow: 0 0 30px 20px rgba(255, 255, 255, 0.8);
    }
}

#aura-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: none;
    z-index: 1;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#aviso-secundario {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://raw.githubusercontent.com/deividpro999/IA-EMMA-CHAT-PARTES/2f2a285e96f56d96cde02e57f1d03ddea8575400/AVISO%20LEIA%20ANTES%20DE%20COME%C3%87AR.png') no-repeat center center;
    background-size: cover;
}

#loading-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-align: center;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#main-content {
    display: none;
    width: 100%;
    height: 100%;
}

#menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: url('https://github.com/deividpro999/IA-EMMA-CHAT-PARTES/raw/1f3abf9403b6c13b06a8a8edf0e2e59b7fe36376/TELA%20DO%20MENU%20INICIAL.png') no-repeat center center;
    background-size: 1376px 772px; /* Define o tamanho da imagem de fundo */
    padding: 20px;
    border-radius: 10px;
    width: 1376px; /* Ajuste a largura conforme necessário */
    height: 772px; /* Ajuste a altura conforme necessário */
}

#menu button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5em;
    margin: 10px 0; /* Espaçamento entre os botões */
    cursor: pointer;
}

#menu button:hover {
    text-decoration: underline;
}
